*.cache
Codigo/SQL_ClassLibrary/ErrorManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Codigo/SQL_ClassLibrary/ErrorManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Codigo/SQL_ClassLibrary/SQL_ClassLibrary/Class1.cs
Codigo/SQL_ClassLibrary/ErrorManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Codigo/SQL_ClassLibrary/SQL_ClassLibrary/obj/Debug/SQL_ClassLibrary.csproj.FileListAbsolute.txt
Codigo/SQL_ClassLibrary/SQL_ClassLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Prueba Conexion/ClienteWCF/ClienteWCF/bin/Debug/ClienteWCF.exe.config
Prueba Conexion/ClienteWCF/ClienteWCF/bin/Debug/ClienteWCF.pdb
Prueba Conexion/ClienteWCF/ClienteWCF/bin/Debug/ClienteWCF.vshost.exe.config
*.csproj
Codigo/SQL_ClassLibrary/SQL_ClassLibrary.v11.suo
Prueba Conexion/ClienteWCF/ClienteWCF/bin/Debug/ClienteWCF.vshost.exe.manifest
*.txt
Prueba Conexion/ClienteWCF/ClienteWCF/obj/Debug/ClienteWCF.pdb
Prueba Conexion/HostWCF/bin/Debug/HostWCF.exe.config
*.pdb
Prueba Conexion/HostWCF/bin/Debug/HostWCF.vshost.exe.config
*.manifest
Prueba Conexion/SimpleSoap/SimpleSoap/bin/Debug/SimpleSoap.SimpleSoap-Signed.apk
*.mdb
Prueba Conexion/SimpleSoap/SimpleSoap/bin/Debug/SimpleSoap.SimpleSoap.apk
Prueba Conexion/SimpleSoap/SimpleSoap/obj/Debug/android/bin/classes.dex
*.xml
Prueba Conexion/SimpleSoap/SimpleSoap/obj/Debug/android/bin/classes/mono/android/Seppuku.class
Codigo/SQL_ClassLibrary/SQL_ClassLibrary.v11.suo
Codigo/SQL_ClassLibrary/SQL_ClassLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Codigo/SQL_ClassLibrary/ErrorManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Codigo/SQL_ClassLibrary/ErrorManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Codigo/SQL_ClassLibrary/SQL_ClassLibrary/SQL_ClassLibrary.csproj
*.csproj
Codigo/SQL_ClassLibrary/SQL_ClassLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Codigo/SQL_ClassLibrary/ErrorManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Codigo/SQL_ClassLibrary/SQL_ClassLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Codigo/SQL_ClassLibrary/ErrorManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.sln
Codigo/SQL_ClassLibrary/SQL_ClassLibrary.v11.suo
Codigo/SQL_ClassLibrary/SQL_ClassLibrary/SQL_ClassLibrary.csproj
*.cache
C:/Users/Ruben/Documents/GitHub/Proyecto_IS/Prueba Conexion/ClienteWCF/ClienteWCF/obj/Debug/*
Prueba Conexion/SimpleSoap/SimpleSoap/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Prueba Conexion/ClienteWCF/ClienteWCF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Prueba Conexion/HostWCF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Prueba Conexion/ClienteWCF/ClienteWCF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Prueba Conexion/ClienteWCF/ClienteWCF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Prueba Conexion/HostWCF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Prueba Conexion/HostWCF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Prueba Conexion/SimpleSoap/SimpleSoap/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Prueba Conexion/SimpleSoap/SimpleSoap/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Codigo/SQL_ClassLibrary/SQL_ClassLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Codigo/SQL_ClassLibrary/MrTmakerHost/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Codigo/SQL_ClassLibrary/MrTmakerHost/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Codigo/SQL_ClassLibrary/MrTmakerHost/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs